.skillContainer{
    height: 100vh;
    width: 79vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    /* background-color: rgba(12,12,12,0.6); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
}

.skillcon{
    height: 85%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.imageContainer{
    height: 85px;
    width: 85px;
    margin: 20px;
}
.smallcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px;
}

.skillname{

}

.skill-name{
    font-size: 32px;
}

@media screen and (max-width: 950px) {
    .skillContainer{
      
        
    }
}


@media screen and (max-width: 1050px) {
    .skillContainer{
      margin-bottom: 10px;
        
    }
    .imageContainer{
        height: 75px;
        width: 75px;
        margin: 20px;
    }
}

@media screen and (max-width: 978px) {
    .skillContainer{
      margin-bottom:10px;
        
    }
    .imageContainer{
        height: 68px;
        width: 68px;
        margin: 15px;
    }
}


@media screen and (max-width: 920px) {
   
    .imageContainer{
        height: 70px;
        width: 70px;
        margin: 15px;
    }
    .skill-name{
        font-size: 25px;
    }
}

@media screen and (max-width: 720px) {
    .imageContainer{
        height: 65px;
        width: 65px;
        margin: 12px;
    }
}

@media screen and (max-width: 630px) {
    .imageContainer{
        height: 60px;
        width: 60px;
        margin: 10px;
    }
    .skill-name{
        font-size: 22px;
    }
}

@media screen and (max-width: 570px) {
  
    .imageContainer{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}

@media screen and (max-width: 520px) {
   
    .imageContainer{
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    .skill-name{
        font-size: 22px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 490px) {

    .imageContainer{
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    .skill-name{
        font-size: 18px;
        margin-top: 50px;
    }

}
@media screen and (max-width: 470px) {
    .skillContainer{
       margin-right: 5%;
        margin-left: 5%;
            }
    .imageContainer{
        height: 40px;
        width: 40px;
        margin: 10px;
    }
    .skill-name{
        font-size: 18px;
        margin-top: 50px;
    }

}
